/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.product {
  width: 25%;
  background: white;
  margin: 1%;
  text-align: center;
  align-items: center;
  flex:  40% 0 23%;
}

.product img {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.product p.price {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  color: #00a1b4;
  padding: 3px 0px;
}
/* Products */
/* Navbars */
.navbar {
  position: relative;
  min-height: 50px;
  background-color: #0b102b;
}

.nav {
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
}

.nav > li {
  float: left;
}

.nav > li > a {
  font-size: 16px;
  font-weight: 100;
  padding: 15px 35px;
  color: #fff;
  display: block;
  text-decoration: none;
}

/* Navbars */
/* Footer */
footer {
  margin-top: 60px;
  width: 100%;
  background-color: #fff;
  text-align: right;
  padding: 5px 0;
}

/* Footer */